<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<h1>@ViewData["Title"]</h1>
@model List<Morador>
<h1>Cadastro dos Moradores</h1>
<link rel="stylesheet" href="teste.css">
<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Documento</th>
                <th scope="col">Data de entrada</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (Morador morador in Model)
                {
                    <tr>
                        <td>@morador.Nome</td>
                        <td>@morador.Unidade</td>
                        <td>@morador.PlacaVeiculo</td>
                        <td>@morador.Telefone</td>
                        <td>
                            @*                             <div class="d-grid gap-2 d-md-block">
                    <a type="submit" class="btn btn-warning" role="button" asp-controller="Professor" asp-action="Editar" asp-route-id="@professor.Id">Editar</a>
                    <a type="submit" class="btn btn-danger" role="button" asp-controller="Professor" asp-action="ExcluirProfessor" asp-route-id="@professor.Id">Excluir</a>
                    </div>
                    *@
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>
</div>

<div class="button">
    <a class="btn btn-primary" type="button" asp-controller="Morador" asp-action="AdicionarMorador">Adicionar Morador</a>
</div>